{% extends "exchange/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'exchange/extra.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Register Here{% endblock %}

{% block body %}

    {% if message %}
        <div class="text" style="color: red;">{{ message }}</div>
    {% endif %}

    <div class="div-center-pad">
        <div>
            <h2 class="text">Register</h2>
        </div>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group input-center">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group input-center">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group input-center">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group input-center">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div style="margin-top: 10px;">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
        
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>


{% endblock %}